<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>CustomerWidget</span>
        <span>
        <a class="nav-item nav-link" routerLink="appointment" color="white" routerLinkActive="active">Appointments</a></span>
      <span class="spacer"></span>
      <span>
        <a class="nav-item nav-link" routerLink="profile" color="white" routerLinkActive="active">Profile</a></span>
      
      <span> <button mat-raised-button color="warn" (click)="logout()">Log Out</button></span>
    </mat-toolbar-row>
</mat-toolbar>