.container{
    padding: 0;
}

a{
    color:white;
}

.mat-toolbar-row{
    display: flex;
    h3{
        flex: 1;
        cursor: pointer;
    }
    .spacer{
        display: flex;
        flex: 3;
        justify-content: flex-end;
        align-items: center;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-weight: 300;
            margin: 0 10px;
            border-radius: 3px;
            padding: 3px 10px;
            transition: 0.3s ease-in-out;
            &:hover{
                transition: 0.3s ease-in-out;
                background-color:#58319E;
            }
        }
    }
}

