
<section>
    <div class="container main flex-column d-flex">
        <div class="cardBack">
          <mat-toolbar color="primary">
            <mat-toolbar-row>
              <span>Forgot Password</span>
            </mat-toolbar-row>
          </mat-toolbar>
          <div class="items d-flex flex-column">
            <form [formGroup]="forgetPasswordform" class="example-form">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <button mat-icon-button matPrefix style="font-size: 20px;"><mat-icon style="margin-left: 5px;">account_circle</mat-icon></button>
                    <input matInput #email type="text" formControlName="Email" style="padding-left: 10px;">
                    <button mat-button *ngIf="email.value" matSuffix mat-icon-button aria-label="Clear" (click)="forgetPasswordform.get('Email').reset()">
                      <mat-icon style="font-size: small;">close</mat-icon>
                    </button>
                    <mat-error *ngIf="forgetPasswordform.get('Email').hasError('required')">
                      This field is required!
                    </mat-error>
                    <mat-error *ngIf="forgetPasswordform.get('Email').hasError('email')">
                      Please enter valid email!
                    </mat-error>
                  </mat-form-field>
            </form>            
            <button mat-flat-button color="primary" [disabled]="forgetPasswordform.invalid" (click)="onSubmit(forgetPasswordform)">Submit</button>           
          </div>
        </div>
        
    </div>
  </section>
  