.main-container{
    overflow: auto;
    min-height: calc(100vh - 64px);
    .title-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        h1{
            margin: 0;
        }
    }
    .all-items-div{
        margin-top: 30px;
        .card-div{
            margin-top: 20px;
            img{
                height: 200px;
            }
        }
    }
}
.modal-header{
    
    h5{
        font-size: 20px;
    }
}

.edit {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .white-icon {
    color: white;
}


.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: auto;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #673ab7;
    border-color: #673ab7;
}

.btn-primary {
    color: #fff;
    background-color: #673ab7;
    border-color: #673ab7;
}