.main-container{
    overflow: auto;
    min-height: calc(100vh - 64px);
    .title-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        h1{
            margin: 0;
        }
    }
    .all-items-div{
        margin-top: 30px;
        .edit{
            // padding: 10px;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                transition: 0.3s;
                background-color: #EAEAEA;
            }
        }
        .card-div{
            margin-top: 20px;
            img{
                height: 200px;
            }
        }
    }
}
.modal-header{
    
    h5{
        font-size: 20px;
    }
}

.edit {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .white-icon {
    color: white;
}