@import '../car-selection/car-selection.component.scss';

.title-div{
    button{
        visibility: hidden;
    }
}
.card-div{
    min-height:350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
        padding-top: 20px;
        height: 200px;
        width: auto;
    }
}