<section class="main-container">
    <div class="container">
        <div class="title-div">
            <h1 class="display-4">Select your prefered Date and Time </h1>
        </div>
        <div class="cal">
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" (dateChange)="dateSelected($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="dealer-list" *ngIf="date != null">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Time</th>
                    <th scope="col" class="text-right">Slots</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of slots">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.time}}</td>
                    <td class="text-right">{{item.slots}}</td>
                    <td class="text-right">
                        <button mat-flat-button color="primary" (click)="bookService()">Book</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</section>